@use "index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

body {
  margin: 0px;
  font-family: $body_font;
  font-weight: 400;
  background: $secondary_color;
  font-size: 0.729vw;
  line-height: 1.3;

  @include respond(md, max) {
    font-size: 16px;
    line-height: 24px;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.white-text,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6 {
  color: #fff;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: $heading_font;
}

h1 {
  font-size: 7.813vw;
  line-height: 1.2;
  @include respond(md, max) {
    font-size: 9vw;
  }
}

h2 {
  font-size: 54px;
  line-height: 1.2;
}

h3 {
  font-size: 40px;
  line-height: 1.2;
}

h4 {
  font-size: 32px;
  line-height: 1.4;
}

h5 {
  font-size: 24px;
  line-height: 1.4;
}

h6 {
  font-size: 20px;
  line-height: 1.4;
}